---
title: 'ForEvolve Home'
description: 'A piece of mind...'
hide-page-header: true
---

<div class="post-list-container">
    <section class="post-list">
        {% for post in paginator.posts %} {%- if forloop.index == 3 or forloop.index == 9 -%}
        <div class="post-ads">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins
                class="adsbygoogle"
                style="display: block"
                data-ad-format="fluid"
                data-ad-layout-key="-4m+ce-4m-in+1dw"
                data-ad-client="ca-pub-4006645379906183"
                data-ad-slot="5179085629"
            ></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        {%- endif -%}
        <div class="post-preview">
            <a href="{{ post.url }}" class="post-title-a">
                <h2 class="post-title">{{ post.title }}</h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                {% endif %}
            </a>
            <div class="post-meta">
                Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
                {% comment %}<a href="{{ site.baseurl }}/{{ post.url }}" data-disqus-identifier="{{ post.url }}"></a>{% endcomment %} {% for
                lang in site.data.languages %} {% assign language = lang[1] %} {% if language.shortName == post.lang %}
                <aside class="languages">
                    <strong>Language: </strong>
                    <a href="/languages/#{{ language.categoryName | slugify }}">{{ language.displayName }}</a>
                </aside>
                {% endif %} {% endfor %} {% if post.proficiency-level %}
                <aside class="proficiency-level">
                    <strong>Target proficiency level:</strong>

                    {% assign level = site.data.proficiency-levels[post.proficiency-level] %}
                    <a href="/levels/#proficiency-level-{{ post.proficiency-level | slugify }}" title="{{ level.description }}"
                        >{{ level.name }}</a
                    >
                    <small>({{ level.short-description }})</small>
                </aside>
                {% endif %} {% if post.tags[0] %}
                <aside class="tags">
                    <i class="glyphicon glyphicon-tags"></i>
                    &nbsp; {% for tag in post.tags %}
                    <a href="/tags/#{{ tag | slugify }}" title='View posts tagged with "{{ tag }}"'><u>{{ tag }}</u></a
                    >{% if forloop.last != true %}, {% endif %} {% endfor %}
                </aside>
                {% endif %}
            </div>

            {% if post.post-img %}
            <p><img src="{{ site.baseurl }}/{{ post.post-img }}" alt="{{ post.title }}" /></p>
            {% endif %} {% if post.technology-relative-level %}
            <aside class="technology-relative-level">
                <strong>Expected knowlegde level:</strong>
                <ul>
                    {%- for techLevel in post.technology-relative-level -%}
                    <li>
                        {{ techLevel.name }}: {% assign levelInfo = site.data.technology-relative-levels[techLevel.level] %}
                        <a href="javascript:;" title="{{ levelInfo.description }}">{{ levelInfo.name }}</a>
                        <small>({{ levelInfo.short-description }})</small>
                    </li>
                    {%- endfor -%}
                </ul>
                <hr />
            </aside>
            {% endif %} {% comment %}{% if post.proficiency-level %}
            <aside>
                <strong>Target proficiency level:</strong>

                {% assign level = site.data.proficiency-levels[post.proficiency-level] %}
                <a href="/levels/#proficiency-level-{{ post.proficiency-level | slugify }}" title="{{ level.description }}"
                    >{{ level.name }}</a
                >
                <small>({{ level.short-description }})</small>
            </aside>
            {% endif %} {% if post.tags %}
            <aside>
                <i class="glyphicon glyphicon-tags"></i>
                &nbsp; {% for tag in post.tags %}
                <a href="/tags/#{{ tag | slugify }}" title='View posts tagged with "{{ tag }}"'><u>{{ tag }}</u></a
                >{% if forloop.last != true %}, {% endif %} {% endfor %}
            </aside>
            {% endif %}{% endcomment %}

            <p>{{ post.excerpt }}</p>
            <div class="post-readmore">
                <a
                    href="{{ post.url }}"
                    title=""
                    data-toggle="tooltip"
                    data-placement="top"
                    data-original-title="{{ post.title }}{% if post.subtitle %} | {{post.subtitle}}{% endif %}"
                    >Continue reading...</a
                >
                {% comment %}| replace: '"', '&quot;'{% endcomment %}
            </div>
        </div>
        <hr />
        {% endfor %}

        <!-- Pager -->
        {% if paginator.total_pages > 1 %}
        <ul class="pager">
            {% if paginator.previous_page %}
            <li class="previous">
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                    &larr; Newer Posts
                    <small>{{ paginator.title }}</small>
                </a>
            </li>
            {% endif %} {% if paginator.next_page %}
            <li class="next">
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                    Older Posts &rarr;
                    <small>{{ paginator.title }}</small>
                </a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </section>
    <section class="side-bar hidden-xs">
        {%- include buy-net5-book.html -%}
        <aside class="tags">
            <h4>Tags</h4>
            <ul>
                {% include gen-tags.html %} {% for tag in tags %}
                <li>
                    <a href="/tags/#{{ tag | slugify }}"> {{ tag }} </a>
                </li>
                {% endfor %}
            </ul>
        </aside>
        <aside class="proficiency-levels">
            <h4>Proficiency levels</h4>
            <ul>
                {% for lvl in site.data.proficiency-levels %} {% assign level = lvl[1] %} {% assign postCount = 0 %}
                <li>
                    <a href="/levels/#proficiency-level-{{ level.name | slugify }}"> {{ level.name }} </a>
                </li>
                {% endfor %}
            </ul>
        </aside>
        <aside class="language">
            <h4>Languages</h4>
            <ul>
                <li><a href="/languages/#en-articles">English</a></li>
                <li><a href="/languages/#fr-articles">Français</a></li>
            </ul>
        </aside>
        <aside class="social">
            <h4>{{ site.follow-me-label }}</h4>
            {%- include social-list.html hide-follow-me-text=true -%}
        </aside>
    </section>
</div>
