---
title: 'ForEvolve Home'
description: 'A piece of mind...'
hide-page-header: true
---

<div class="post-list-container">
    <section class="post-list">
        {% for post in paginator.posts %}
            {%- include post-preview.html post=post -%}
            <hr />
        {% endfor %}

        <!-- Pager -->
        {% if paginator.total_pages > 1 %}
        <ul class="pager">
            {% if paginator.previous_page %}
            <li class="previous">
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                    &larr; Newer Posts
                    <small>{{ paginator.title }}</small>
                </a>
            </li>
            {% endif %} {% if paginator.next_page %}
            <li class="next">
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                    Older Posts &rarr;
                    <small>{{ paginator.title }}</small>
                </a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </section>
    <section class="side-bar hidden-xs">
        {%- include buy-net5-book.html -%}
        <aside class="tags">
            <h4>Tags</h4>
            <ul>
                {% include gen-tags.html %} {% for tag in tags %}
                <li>
                    <a href="/tags/#{{ tag | slugify }}"> {{ tag }} </a>
                </li>
                {% endfor %}
            </ul>
        </aside>
        <aside class="proficiency-levels">
            <h4>Proficiency levels</h4>
            <ul>
                {% for lvl in site.data.proficiency-levels %} {% assign level = lvl[1] %} {% assign postCount = 0 %}
                <li>
                    <a href="/levels/#proficiency-level-{{ level.name | slugify }}"> {{ level.name }} </a>
                </li>
                {% endfor %}
            </ul>
        </aside>
        <aside class="language">
            <h4>Languages</h4>
            <ul>
                <li><a href="/languages/#en-articles">English</a></li>
                <li><a href="/languages/#fr-articles">Français</a></li>
            </ul>
        </aside>
        <aside class="social">
            <h4>{{ site.follow-me-label }}</h4>
            {%- include social-list.html hide-follow-me-text=true -%}
        </aside>
    </section>
</div>
