{%- for book in site.data.buy-books -%}
{%- if book.enabled -%}
<aside class="book">
    <a
        href="{{ book.linkHref }}"
        rel="noopener"
        target="_blank"
        title="Buy {{ book.bookTitle }}"
    >
        <h4>
            Buy My Book
            <small>
                <i class="fa fa-amazon"></i>
                Amazon{{ book.amazonExt }} {% include AmazonAssociateSpan.html %}
            </small>
        </h4>
        <img
            src="{{ book.imageSrc }}"
            alt="{{ book.bookTitle }}"
        />
    </a>
</aside>
{%- endif -%}
{%- endfor -%}

