<aside class="book">
    <h4>Buy My Book</h4>
    <a
        href="https://net5.link/buy"
        target="_blank"
        title="Buy An Atypical ASP.NET Core 5 Design Patterns Guide: A SOLID adventure into architectural principles, design patterns, .NET 5, and C#"
        ><img
            src="//cdn.forevolve.com/blog/images/net5-book-cover/book-cover-200.png"
            alt="An Atypical ASP.NET Core 5 Design Patterns Guide: A SOLID adventure into architectural principles, design patterns, .NET 5, and C#"
    /></a>
    {%- comment -%} <small>A SOLID adventure into architectural principles, design patterns, .NET 5, and C#</small> {%- endcomment -%}
</aside>
