<aside class="book">
    <a
        href="https://net5.link/buy"
        target="_blank"
        title="Buy An Atypical ASP.NET Core 5 Design Patterns Guide: A SOLID adventure into architectural principles, design patterns, .NET 5, and C#"
    >
        <h4>
            Buy My Book
            <small><i class="fa fa-amazon"></i> Amazon.com</small>
        </h4>
        <img
            src="//cdn.forevolve.com/blog/images/net5-book-cover/book-cover-200.png"
            alt="An Atypical ASP.NET Core 5 Design Patterns Guide: A SOLID adventure into architectural principles, design patterns, .NET 5, and C#"
        />
    </a>
</aside>
<aside class="book">
    <a
        href="https://net5.link/buyca"
        target="_blank"
        title="Buy An Atypical ASP.NET Core 5 Design Patterns Guide: A SOLID adventure into architectural principles, design patterns, .NET 5, and C#"
    >
        <h4>
            Buy My Book
            <small><i class="fa fa-amazon"></i> Amazon.ca</small>
        </h4>
        <img
            src="//cdn.forevolve.com/blog/images/net5-book-cover/book-cover-200.png"
            alt="An Atypical ASP.NET Core 5 Design Patterns Guide: A SOLID adventure into architectural principles, design patterns, .NET 5, and C#"
        />
    </a>
</aside>
