<!-- Footer -->
<footer>
    <nav class="follow-me-list-horizontal">
        {%- include social-list.html -%}
    </nav>
    <p class="copyright text-muted">Copyright &copy; {{ site.copyright_name }} 2016-{{ site.time | date: '%Y' }}</p>
</footer>

<!-- jQuery -->
<script defer src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script defer src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script defer src="{{ "/js/clean-blog.min.js" | prepend: site.baseurl }}"></script>
<script defer src="{{ "/js/forevolve-blog.min.js" | prepend: site.baseurl }}"></script>

<!-- Prism JS code coloring -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js" integrity="sha256-jc6y1s/Y+F+78EgCT/lI2lyU7ys+PFYrRSJ6q8/R8+o=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-csharp.js" integrity="sha256-t5SXqeRw0r4NogAmxKit1gE92EswJYGns/FRQCXIPao=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-powershell.js" integrity="sha256-ezsL6j/QS1NHMHoDmsZzLQRxIUyql45FGYigDMS/T6E=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-bash.min.js" integrity="sha256-Cpwt90TIzSA/DB4pWWhjvGMLFzqRuClV20inTWKgJ2w=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-css.min.js" integrity="sha256-9IbC+5POyRUrKjUK74vvfhDo2KEjASNTA6OAt1gwKvs=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-css-extras.min.js" integrity="sha256-9SV59DAEvFas+137xZq7eKVT1ES6dUiun9z1jBD0tuQ=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-git.min.js" integrity="sha256-/Er2UCl/Eatzc2M3Alaa12WBgB7JfV91zjfiWPj6kzo=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-javascript.min.js" integrity="sha256-c+rbyAMS5uc5kNg/9l6huKo8HTw7mgkWmFrcSbEX3TI=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-less.min.js" integrity="sha256-PyCe/EkwBOXfjsQqtPoVNk3Jp/B1pTd55DMlS66RnAA=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-scss.min.js" integrity="sha256-VoWE0DQTzJ4h3AfMGgfyKnNftEoP+TgIaH4Iy0pmbPU=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-sql.min.js" integrity="sha256-V8lV0wSj8wmTdBfH8nvRNKG01O+1C7mHeynbAMcdCok=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-typescript.min.js" integrity="sha256-gTgHIbTlCITbM19OpHfzKsaSx5X54sl9zHhax3AJcfE=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/data-uri-highlight/prism-data-uri-highlight.min.js" integrity="sha256-U+CLEiyzlOJhTnE33bjNVVdSdORPYfDfQ0qZjU/qpKc=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-markdown.min.js" integrity="sha256-IQow2xuq3uimzcQ7pu3eGfgBtlP7zlRta7+e55oCAM4=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-json.min.js" integrity="sha256-FHdwSoXfoVWRO3wrjL83q5cqSEOKEvCRZlABqc03O2E=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-yaml.min.js" integrity="sha256-pxsoS7PqPuy6D5T0Dq2PEXKJ5SRlIkdG8hpoMxQ0YlM=" crossorigin="anonymous"></script>

{% comment %}Amazon oneTag{% endcomment %}
<script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=e72533ad-0cba-4d77-b234-484f9112ff5d"></script>
