{% assign pageCulture=site.default_lang %}
{% if page.categories %}
    {% if page.categories[0] == "fr/articles" %}
        {% assign pageCulture="fr" %}
    {% endif %}
{% endif %}
{% assign ogCulture="en_US" %}
{% if pageCulture == "fr" %}
    {% assign ogCulture="fr_CA" %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ pageCulture }}">

{% include head.html culture=pageCulture fbCulture=ogCulture %}

<body>
    {% include nav.html %}

    {%- assign introHeaderImageUri = site.baseurl | append: "/" -%}
    {%- if page.header-img -%}
        {%- assign introHeaderImageUri = introHeaderImageUri | append: page.header-img -%}
    {%- elsif site.override-header-img-with-post-img and page.post-img -%}
        {%- assign introHeaderImageUri = introHeaderImageUri | append: page.post-img -%}
    {%- else -%}
        {%- assign introHeaderImageUri = introHeaderImageUri | append: site.header-img -%}
    {%- endif -%}

    
    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ introHeaderImageUri }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ site.title }}</h1>
                        <span class="subheading">{{ site.subtitle }}</span>
                        {{page.type}}
                    </div>
                </div>
            </div>
        </div>
        <ul class="follow-me-list text-center">
            <li>
                <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            {% if site.twitter_username %}
            <li>
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            {% endif %}
            {% if site.facebook_username %}
            <li>
                <a href="https://www.facebook.com/{{ site.facebook_username }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            {% endif %}
            {% if site.github_username %}
            <li>
                <a href="https://github.com/{{ site.github_username }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            {% endif %}
            {% if site.linkedin_username %}
            <li>
                <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa  fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            {% endif %}
            {% if site.email_username %}
            <li>
                <a href="mailto:{{ site.email_username }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
    </header>

    <section class="visible-xs-block xs-top-buy-net5-book">{%- include buy-net5-book.html -%}</section>

    {{ content }}

    {% include footer.html %}

    {% include ga.html %}


    {% if site.comments %}
        {% unless page.comments == false %}
            <script id="dsq-count-scr" src="https://{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
        {% endunless %}
    {% endif %}
</body>
</html>