{% assign pageCulture=site.default_lang %}
{% if page.categories %}
    {% if page.categories[0] == "fr/articles" %}
        {% assign pageCulture="fr" %}
    {% endif %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ pageCulture }}">

{% include head.html culture=pageCulture %}

<body>
    {% include nav.html %}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ site.title }}</h1>
                        <span class="subheading">{{ site.subtitle }}</span>
                        {{page.type}}
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{ content }}

    {% include footer.html %}

    {% include ga.html %}


    {% if site.comments %}
        {% unless page.comments == false %}
            <script id="dsq-count-scr" src="https://{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
        {% endunless %}
    {% endif %}
</body>
</html>