---
layout: default
---

{% assign posts=site.posts | where:"ref", page.ref | where_exp: "item", "item.lang != page.lang" | sort: 'lang' %}
{% assign pages=site.pages | where:"ref", page.ref | where_exp: "item", "item.lang != page.lang" | sort: 'lang' %}
{% assign postCount=posts | size %}
{% assign pageCount=pages | size %}
{% assign totalCount=postCount | plus:pageCount %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <main class="col-sm-12 post-content">
                <!-- Post Header -->
                <header class="intro-header">
                    {% if page.post-img %}
                    <img src="{{ site.baseurl }}/{{ page.post-img }}" alt="{{ page.title }}">
                    {% endif %}
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.subtitle %}
                        <h2 class="subheading">{{ page.subtitle }}</h2>
                        {% endif %}
                        <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                        {% comment %}<a href="{{ page.url }}index.html#disqus_thread" data-disqus-identifier="{{ page.url }}"></a>{% endcomment %}
                    </div>

                    {% if totalCount > 0 %}
                    <nav>
                        <div class="wrapper" style="text-align: right; line-height: 2em">
                            {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{% if post.lang == "fr" %}Lire la version francophone{% else %}Read the english version{% endif %}</a> {% endfor %}
                            {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{% if post.lang == "fr" %}Lire la version francophone{% else %}Read the english version{% endif %}</a> {% endfor %}
                        </div>
                    </nav>
                    <hr>
                    {% endif %}
                </header>

				<article>{{ content }}</article>

                {% if totalCount > 0 %}
                <hr>
                <nav>
                    <div class="wrapper" style="text-align: right; line-height: 2em">
                        {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{% if post.lang == "fr" %}Lire la version francophone{% else %}Read the english version{% endif %}</a> {% endfor %}
                        {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{% if post.lang == "fr" %}Lire la version francophone{% else %}Read the english version{% endif %}</a> {% endfor %}
                    </div>
                </nav>
                {% endif %}

                {% if page.previous.url or page.next.url %}
                <hr>
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                            &larr; Previous Post
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                            Next Post &rarr;
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <hr>
                {% endif %}
                {% if site.comments %}
                    {% unless page.comments == false %}
                        <h2>Comments</h2>
                        <aside id="disqus_thread"></aside>
                        <script>
                        (function() {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    {% endunless %}
                {% endif %}
            </main>
        </div>
    </div>

</article>
<hr>
