---
layout: default
---
 
{% assign posts=site.posts | where:"ref", page.ref | where_exp: "item", "item.lang != page.lang" | sort: 'lang' %}
{% assign pages=site.pages | where:"ref", page.ref | where_exp: "item", "item.lang != page.lang" | sort: 'lang' %}
{% assign postCount=posts | size %}
{% assign pageCount=pages | size %}
{% assign totalCount=postCount | plus:pageCount %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <main class="col-sm-12 post-content">
                <!-- Post Header -->
                <header class="intro-header">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.subtitle %}
                        <h2 class="subheading">{{ page.subtitle }}</h2>
                        {% endif %}
                        <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                        {% comment %}<a href="{{ page.url }}index.html#disqus_thread" data-disqus-identifier="{{ page.url }}"></a>{% endcomment %}
                    </div>
                    
                    {% for lang in site.data.languages %}
                        {% assign language = lang[1] %}
                        {% if language.shortName == page.lang %}
                            <aside class="languages">
                                <strong>Language: </strong>
                                <a href="/languages/#{{ language.categoryName | slugify }}">{{ language.displayName }}</a>

                                {% if totalCount > 0 %}
                                    {% for post in posts %}{% if page.ref %}| <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{% if post.lang == "fr" %}Lire la version francophone{% else %}Read the english version{% endif %}</a> {%endif%}{% endfor %}
                                    {% for page in pages %}{% if page.ref %}| <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{% if post.lang == "fr" %}Lire la version francophone{% else %}Read the english version{% endif %}</a> {%endif%}{% endfor %}
                                    <hr>
                                {% endif %}
                            </aside>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page.proficiency-level %}
                        <aside class="proficiency-level">
                            <strong>Target proficiency level:</strong>

                            {% assign level = site.data.proficiency-levels[page.proficiency-level] %}
                            <a href="/levels/#proficiency-level-{{ page.proficiency-level | slugify }}" title="{{ level.description }}">{{ level.name }}</a>
                            <small>({{ level.short-description }})</small>
                        </aside>
                    {% endif %}

                    {% if page.tags[0] %}
                        <aside class="tags">
                            <i class="glyphicon glyphicon-tags"></i>
                            &nbsp;
                            {% for tag in page.tags %} 
                                <a href="/tags/#{{ tag | slugify }}" title="View posts tagged with &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a>{% if forloop.last != true %}, {% endif %} 
                            {% endfor %}
                        </aside>
                    {% endif %}

                    {% if page.post-img %}
                    <p><img src="{{ site.baseurl }}/{{ page.post-img }}" alt="{{ page.title }}"></p>
                    {% endif %}
                </header>

				<article>{{ content }}</article>

                {% include updates.html %}

                {% if totalCount > 0 %}
                    <hr>
                    <nav>
                        <div class="wrapper" style="text-align: right; line-height: 2em">
                            {% for post in posts %}{% if page.ref %}| <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{% if post.lang == "fr" %}Lire la version francophone{% else %}Read the english version{% endif %}</a> {%endif%}{% endfor %}
                            {% for page in pages %}{% if page.ref %}| <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{% if post.lang == "fr" %}Lire la version francophone{% else %}Read the english version{% endif %}</a> {%endif%}{% endfor %}
                        </div>
                    </nav>
                {% endif %}

                {%- comment -%} <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Static Ads -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-4006645379906183"
                    data-ad-slot="9960733545"
                    data-ad-format="auto"
                    data-full-width-responsive="true"
                    data-adtest="on"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script> {%- endcomment -%}

                {% if page.previous.url or page.next.url %}
                    <hr>
                    <ul class="pager">
                        {% if page.previous.url %}
                        <li class="previous">
                            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}{% if page.previous.subtitle %} | {{page.previous.subtitle}}{% endif %}">
                                &larr; Previous Post
                            </a>
                        </li>
                        {% endif %}
                        {% if page.next.url %}
                        <li class="next">
                            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}{% if page.next.subtitle %} | {{page.next.subtitle}}{% endif %}">
                                Next Post &rarr;
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    <hr>
                {% endif %}

                {% if page.tags[0] %}
                    <footer>
                        <i class="glyphicon glyphicon-tags"></i>
                        &nbsp;
                        {% for tag in page.tags %} 
                            <a href="/tags/#{{ tag | slugify }}" title="View posts tagged with &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a>{% if forloop.last != true %}, {% endif %} 
                        {% endfor %}
                    </footer>
                    <hr>
                {% endif %}

                {% if site.comments %}
                    {% unless page.comments == false %}
                        <h2>Comments</h2>
                        <aside id="disqus_thread"></aside>
                        <script>
                        (function() {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    {% endunless %}
                {% endif %}
            </main>
        </div>
    </div>
</article>
<hr>
{%- comment -%} <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-4006645379906183"
     data-ad-slot="3656299205"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<hr> {%- endcomment -%}